* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ol li {
	list-style: none;
}

body {
	font-family: sans-serif;
}

.fontStyle {
	font-weight: 800;
	font-family: monospace;
}

.custom-nav {
	padding: 10px;
}

.workspace {
	display: flex;
}

.sidebar {
	width: 10%;
	background-color: #ffffff;
}

.simulation-area {
	width: 100%;
	background-color: whitesmoke;
}

.sidebar__block {
	padding: 0;
}

.sidebar__block--list {
	list-style: none;
	border-bottom: 1px solid #3333;
	padding: 15px 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.sidebar__block--img {
	width: 110px;
}

/* .simulation-area { */

/* display: flex;
  justify-content: center;
  align-items: center; */

/* border: 3px solid black; */

/* } */

.footer {
	background-color: #333;
	color: whitesmoke;
	font-size: 16px;
}

.circle {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgb(231, 231, 19);
	cursor: pointer;
	display: none;
}

.canvas {
	position: absolute;
	top: 75px;
	left: 190px;
	border: 5px solid black;
}

.result {
	margin-left: 60px;
	width: 80%;
	/* height: 200px; */
	/* border: 1px solid gray; */
	/* box-shadow:; */
	/* background-color:red; */
}

.btnOutput {
	display: flex;
	justify-content: flex-end;
	margin-right: 120px;
}

.dcg-exppanel-outer {
	display: none;
}

.demo {
	position: absolute;
}

.custom_nav {
	display: flex;
	justify-content: space-around;
}

.footer {
	display: flex;
	justify-content: center;
	background-color: #212529;
	color: #eee;
	position: sticky;
	bottom: 0;
	left: 0;
	padding: 5px;
	min-width: 100%;
}

.footer_fs {
	font-size: 21px;
}

.sidebar {
	min-height: 100vh;
}

#modulatingSignal,
#carrierSignal,
#frequencySensistivity,
#integrator,
#multiplier,
#modulator,
#differentiator,
#envelopeDetector,
#dcLimitedCircuit,
#parameterExtraction {
	display: block;
	/* display: none; */
	margin-left: 20px;
}

/* .parameterExtraction--block--left{
  display:block;
} */

/* .modulating__signal--block{
  position: absolute;
  top: 200px;
  left: 500px;
} */

/* #canvas{
  width: 1200px;
   height: 1000px;
} */

.btn-tutorial {
	margin-left: 20px;
}

.btn-disable {
	pointer-events: none;
}

.btn-reset {
	margin-left: 5px;
}

#quiz input {
	vertical-align: middle;
}

#quiz ol {
	margin: 0 0 10px 20px;
}

#quiz ol li {
	margin: 0 0 20px 0;
}

#quiz ol li div {
	padding: 4px 0;
}

#quiz h3 {
	font-size: 17px;
	margin: 0 0 1px 0;
	color: #666;
}

#results {
	font: 44px Georgia, Serif;
}

.qnAns {
	font-size: 24px;
}

.green {
	color: green;
}

.red {
	color: red;
}
